* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.button {
    background: rgb(47, 65, 60);
    color: white;
    font: inherit;
    border: 1px solid white;
    padding: 8px;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;

}
.button:hover,
.button:active {
    background: white;
    color: rgb(47, 65, 60);
    outline: none;
}
/* h1 {
    font-family: sans-serif;
} */

.main-header {
    width: 100%;
    background: rgb(230, 199, 163);
    padding: 8px 16px;
    box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    /* color: rgb(47, 65, 60);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px; */
    display: inline-block;
}

.main-header__brand img {
    height: 35px;
    margin-left: 20px;
}


.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}


.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: rgb(47, 65, 60);
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: rgb(28, 85, 88);
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px white solid;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: rgb(28, 85, 88);
    background: white;
    border: none;
}

.main-footer {
    background: black;
    list-style: none;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}