.background {
    background: url("../Images/BbR6PIBCcAAB_81.jpg");
    position: fixed;
    bottom: 10px;
    left: 940px;
    width: 100%;
    height: 90%;
    z-index: -10;
}

main {
    margin-top: 64px;
}

.main-section {
    width: 46%;
    height: 280px;
    background: rgb(46, 33, 33);
    padding: 24px;
    margin: 42px 10px;
    /* border: 5px rgb(230, 199, 163) solid; */
    border-radius: 14px;
    border-left: none;
    box-shadow: 14px 14px rgb(230, 199, 163);
    position: relative;
}
.main-section:hover,
.main-section:active {
    box-shadow: 14px 14px rgb(28, 85, 88);
}

.main-section:hover .main-section__item {
    background: rgb(28, 85, 88);
}

.main-section:hover .main-section__badge {
    background: rgb(212, 131, 54);
}

.main-section a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.main-section__badge {
    background: #ccc;
    padding: 14px;
    position: absolute;
    margin: 0;
    /* top: 0s;
    right: 0; */
    top: 16px;
    right: 16px;
    width: fit-content;
    /* border-radius: 0 14px 0 0; */
    border-radius: 7px;
    z-index: 10;
    
}

.main-section__highlighted {
    color: #ccc
}

.main-section__header {
    font-size: 32px;
    color: white;
    margin: 16px 0;
}

.main-section__item {
    background: rgb(230, 199, 163);
    color: white;
    border: 1px black solid ;
    padding: 16px;
    border-radius: 7px;
    font-size: 20px;
    line-height: 1.5;
}

/* .main-header .main-div {
    z-index: 10;
} */

/* #plus {
    background:rgb(28, 85, 88);
}

#free {
    background: rgb(35, 119, 124);
}

#premium {
    background: rgb(47, 65, 60); 
} */

